
body {
    max-width: 1900px;
    min-width: 1900px;
    max-height: 95%;
    min-height: 95%;
}
#header {
    font-family: Helvetica;
    background-color:rgb(25,25,112);
    color:white;
    text-align:center;
    padding:5px;
    height: 150px;
    width: 100%
    position: absolute;
}
#nav {
    font-family: Helvetica;
    position: fixed;
    line-height:30px;
    background-color: white;
    height:150px;
    width:100px;
    float:left;
    padding:5px;
}

#section {
    font-family: Helvetica;
    width:80%;
    float:left;
    padding:10px;
    margin-left: 10%;
    margin-right: 15%;
    background-color: white;
}
#plot {
    font-family: Helvetica;
    width:100%;
    float:left;
    padding:10px;
    background-color: white;
    border-size:2px;
    border-style:solid;
    border-color:black;
}

#footer {
    font-family: Helvetica;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}


#pca {
     margin-left:50px;
 }
#hand {
    margin-left:30px;
}
#hand, #pca {
  float: left;
}
rect {
  fill: none;
  pointer-events: all;
}


circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:transparent;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 90%;
}
.myButton:hover {
    background-color:transparent;
}
.myButton:active {
    position:relative;
    top:1px;
}
