
body {
    max-width: 1900px;
    min-width: 1900px;
    max-height: 95%;
    min-height: 95%;
}
#header {
    font-family: Helvetica;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    height: 200px;
    width: 100%;
}
#nav {
    font-family: Helvetica;
    position: fixed;
    line-height:30px;
    background-color: white;
    height:150px;
    width:100px;
    float:left;
    padding:5px;
}

#section {
    font-family: Helvetica;
    width:80%;
    float:left;
    padding:10px;
    margin-left: 10%;
    margin-right: 15%;
    background-color: white;
}
#plot {
    font-family: Helvetica;
    width:100%;
    float:left;
    padding:10px;
    background-color: white;
    border-size:2px;
    border-style:solid;
    border-color:black;
}

#footer {
    font-family: Helvetica;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

button {
    width: 120px;
    height: 80px;
}
#pca {
     margin-left:50px;
 }
#hand {
    margin-left:30px;
}
#hand, #pca {
  float: left;
}
rect {
  fill: none;
  pointer-events: all;
}

.hull {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 30px;
  stroke-linejoin: round
  ;
}

circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
